@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-slant {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  /* RosterFlow Styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0f172a;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
  
  .gantt-line {
    background-image: linear-gradient(to right, #1e293b 1px, transparent 1px);
    background-size: 128px 100%;
  }
  
  .gantt-grid {
    background-image: linear-gradient(to right, #1e293b 1px, transparent 1px);
    background-size: 160px 100%;
  }
}
